.ontop {
  z-index: 500;
  position: fixed;
}
.anim {
  transition: all 1s ease;
}
.anim2 {
  transition: all 0.2s ease;
}
.anim3 {
  transition: all 0.1s ease;
}
.anim4 {
  transition: all 0.5s ease;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.box__main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -17px;
  padding-bottom: 17px;
  width: 100vw;
  height: 100vw;
}
